<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{>headers}}
    <p>this site is created by onkar .It uses data from weathermap and mapbox.com</p>
    <img src="/img/img1.jpg" alt="">
     {{>footer}}
     
    
</body>
</html>